@font-face {
	font-family: 'HelveticaNowText';
	src: url('../fonts/HelveticaNowText/HelveticaNowText-Bold.woff2') format('woff2'),
			 url('../fonts/HelveticaNowText/HelveticaNowText-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #010101;
	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	background-color: #fff;
	color: #010101;
	text-transform: uppercase;
	border: none;
	outline: none;
}

.section {
	margin-top: 200px;
}

.section-title {
	width: 145px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-family: 'HelveticaNowText', sans-serif;
}

/* header */
.header {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(6px);
	z-index: 22;
}

.header__inner {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 22px;
	transition: color .2s ease;
}

.menu__link--active {
	color: #E72D32
}

.nav__link:hover {
	color: #E72D32;
}

.nav__link:last-child {
	margin-right: 0;
}

/* hero */
.hero {
	width: 100%;
	height: 100vh;
	background-image: url('../img/hero-bg.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
}

.hero:after {
	content: '';
	width: 100%;
	height: 100vh;
	position: absolute;
	background-image: url('../img/overlay.png');
	background-repeat: repeat;
	z-index: 1;
}

.release {
	width: 500px;
	height: 537px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(6px);
	padding: 25px;
	z-index: 2;
}

.release__title {
	font-family: 'HelveticaNowText', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-top: 12px;
}

.marker {
	color: #E72D32;
}

.dates-button {
	position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	font-size: 24px;
	padding: 15px 25px;
	font-weight: normal;

	transition: color .2s ease, background-color .2s linear;
}

.dates-button:hover {
	background-color: #E72D32;
	color: #fff;
	cursor: pointer;
}

.hero__title {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 90px;
	line-height: 0.7;
}

.social {
	width: 75px;
	height: 210px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(6px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.social__link {
	margin-bottom: 25px;

}

.social__link:hover {
	color: #E72D32;
}

.social__link:last-child {
	margin-bottom: 0;
}

.instagram {
	display: block;
	width: 23px;
	height: 22px;
}

.twitter {
	display: block;
	width: 25px;
	height: 21px;
}

.youtube {
	display: block;
	width: 27px;
	height: 20px;
}

.facebook {
	display: block;
	width: 23px;
	height: 22px;
}

/* about */
.about {
	background-image: url('../img/about-promo.jpg');
	background-repeat: no-repeat;
	background-position: center right;
	background-size: contain;
}

.about__inner {
	display: flex;
	align-items: baseline;
}

.about__text {
	width: 500px;
	color: #B6B6B6;
}

.about-title {
	margin-right: 65px;
}

/* albums */
.albums__inner {
	display: flex;
}

.albums-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.album__item {
	margin-bottom: 30px;
	transform: perspective(600px) rotateY(-30deg);
	transition: transform .3s;
}

.album__item:hover {
	transform: rotateY(0);
	cursor: pointer;
}

.album__cover {
	width: 200px;
	height: 200px;
}

.album__name {
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 10px;
}

.album__date {
	font-size: 12px;
	color: #A5A5A5;
}

/* tour */
.tour__inner {
	display: flex;
	color: #fff;
	width: 100%;
}

.tour__header {
	display: block;
	color: #A5A5A5;
	text-transform: uppercase;
	font-size: 12px;
	border-bottom: 1px solid #434343;
	padding-bottom: 10px;
}

.tour__item {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 8px 10px 0;
	border-bottom: 1px solid #434343;
	font-size: 14px;
}

.tour__date {
	width: 20%;
}

.tour__place {
	color: #a5a5a5;
	width: 30%;
	margin-left: 200px;
	margin-right: 100px;
}

.tour__location {
	text-transform: uppercase;
	margin-right: 200px;
	width: 25%;
}

.button-right {
	width: 30%;
}

.tour-btn {
	width: 100%;
	font-size: 14px;
	padding: 10px 20px;
	font-weight: bolder;
	transition: color .2s ease, background-color .2s linear;
	cursor: pointer;
}

.tour-btn:hover {
	background-color: #E72D32;
	color: #fff;
}

.disabled {
	background-color: #343434;
}

.disabled:hover {
	background-color: #343434;
	color: #010101;
	cursor: not-allowed;
}

.contact__inner {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.contact__title {
	font-size: 12px;
	text-transform: uppercase;
	color: #a5a5a5;
	margin-right: 35px;
}

.input {
	margin: 0;
	width: 350px;
	padding: 15px 22px;
	background: #010101;
	border: 1px solid #343434;
	color: #fff;
	outline: none;
}

.input:focus {
	border: 1px solid #fff;
}

.btn-form {
	margin-left: -5px;
	padding: 16px 40px;
	font-weight: bold;
	transition: background-color .2s linear;
}

.btn-form:hover {
	background-color: #E6E6E6;
	cursor: pointer;
}

.video-bg {
	object-fit: contain;
	width: 100%;
	height: 100%;

}

@media (max-width: 320px) {
	.section {
		margin-top: 50px;
	}
	.header {
		height: 50px;
	}
	.header__inner {
		height: 50px;
		justify-content: center;
	}
	.header-nav {
		display: none;
	}
	.hero {
		width: 100%;
		background-image: url('../img/mobile.bg.jpg');
		background-size: cover;
		position: relative;
	}
	.hero__title {
		text-align: center;
		width: 100%;
		font-size: 26px;
	}
	.release {
		width: 300px;
		height: 337px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 15px;
		z-index: 2;
	}
	.release__title {
		font-size: 12px;
		margin-top: 12px;
	}
	.dates-button {
		width: 80%;
		font-size: 16px;
		padding: 12px 12px;
	}
	.social {
		display: none;
	}
	.about {
		background-image: none;
	}
	.about__inner {
		display: flex;
		flex-wrap: wrap;
	}
	.albums__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.albums-list {
		justify-content: center;
	}
	.album__item {
		margin-right: 0;
	}
	.tour__inner {
		display: flex;
		flex-wrap: wrap;
	}
	.tour__list {
		width: 100%;
	}
	.tour__date {
		width: 40px;
		font-size: 12px;
	}
	.tour__place {
		margin-left: 15px;
		margin-right: 0;
		width: 20%;
		font-size: 12px;
	}
	.tour__location {
		width: 25%;
		margin-right: 0;
		font-size: 12px;
		margin-left: 10px;
	}	
	.button-right {
		margin: 0;
		margin-left: 10px;
	}

	.tour-btn {
		width: 100%;
		font-size: 12px;
		padding: 4px 8px;
	}

	.contact__inner {
		display: flex;
		flex-wrap: wrap;
	}
	.contact__title {
		width: 100%;
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.video-bg {
		margin-top: -20px;
		width: 100%;
	}
	.input {
		width: 100%;
	}
	.btn-form {
		width: 100%;
		margin: 0;
	}
	.about-title {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.section-title {
		width: 100%;
		display: block;
		text-align: center;
		font-size: 20px;
	}
}

@media (max-width: 1800px) {
	.hero__title {
		text-align: center;
		width: 100%;
		font-size: 90px;
	}
}

@media (max-width: 768px) {
	.section {
		margin-top: 50px;
	}
	.header {
		height: 70px;
	}
	.header__inner {
		height: 70px;
		justify-content: center;
	}
	.header-nav {
		display: none;
	}
	.hero {
		width: 100%;
		background-image: url('../img/mobile.bg.jpg');
		background-size: cover;
		position: relative;
	}
	.hero__title {
		text-align: center;
		width: 100%;
		font-size: 40px;
	}
	.release {
		width: 350px;
		height: 387px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 15px;
		z-index: 2;
	}
	.release__title {
		font-size: 16px;
		margin-top: 12px;
	}
	.dates-button {
		width: 30%;
		font-size: 14px;
		padding: 16px 20px;
	}
	.social {
		display: none;
	}
	.about__desc {
		background-color: rgba(0, 0, 0, .8);
		backdrop-filter: blur(6px);
		padding: 10px;
	}
	.about__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.albums__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.albums-list {
		justify-content: center;
	}
	.album__item {
		margin-right: 20px;
	}
	.tour__inner {
		display: none;
	}
	.tour__list {
		width: 100%;
		display: none;
	}
	.tour__date {
		width: 25%;
		font-size: 12px;
	}
	.tour__place {
		margin-left: 15px;
		margin-right: 0;
		width: 20%;
		font-size: 12px;
	}
	.tour__location {
		width: 25%;
		margin-right: 0;
		font-size: 12px;
		margin-left: 10px;
	}	
	.button-right {
		margin: 0;
		margin-left: 10px;
	}

	.tour-btn {
		width: 100%;
		font-size: 12px;
		padding: 12px 14px;
	}

	.contact__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.contact__title {
		width: 100%;
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.video-bg {
		margin-top: -20px;
		width: 100%;
	}
	.input {
		width: 100%;
	}
	.btn-form {
		width: 100%;
		margin: 0;
	}
	.about-title {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.section-title {
		width: 100%;
		display: block;
		text-align: center;
		font-size: 20px;
	}
}

@media (max-width: 992px) {
	.section {
		margin-top: 50px;
	}
	.header {
		height: 70px;
	}
	.header__inner {
		height: 70px;
		justify-content: center;
	}
	.header-nav {
		display: none;
	}
	.hero {
		width: 100%;
		background-image: url('../img/mobile.bg.jpg');
		background-size: cover;
		position: relative;
	}
	.hero__title {
		text-align: center;
		width: 100%;
		font-size: 40px;
	}
	.release {
		width: 350px;
		height: 387px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 15px;
		z-index: 2;
	}
	.release__title {
		font-size: 16px;
		margin-top: 12px;
	}
	.dates-button {
		width: 30%;
		font-size: 14px;
		padding: 16px 20px;
	}
	.social {
		display: none;
	}
	.about__desc {
		background-color: rgba(0, 0, 0, .8);
		backdrop-filter: blur(6px);
		padding: 10px;
	}
	.about__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.albums__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.albums-list {
		justify-content: center;
	}
	.album__item {
		margin-right: 20px;
	}
	.tour__inner {
		display: none;
	}
	.tour__list {
		width: 100%;
		display: none;
	}
	.tour__date {
		width: 25%;
		font-size: 12px;
	}
	.tour__place {
		margin-left: 15px;
		margin-right: 0;
		width: 20%;
		font-size: 12px;
	}
	.tour__location {
		width: 25%;
		margin-right: 0;
		font-size: 12px;
		margin-left: 10px;
	}	
	.button-right {
		margin: 0;
		margin-left: 10px;
	}

	.tour-btn {
		width: 100%;
		font-size: 12px;
		padding: 12px 14px;
	}

	.contact__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.contact__title {
		width: 100%;
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.video-bg {
		margin-top: -20px;
		width: 100%;
	}
	.input {
		width: 100%;
	}
	.btn-form {
		width: 100%;
		margin: 0;
	}
	.about-title {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.section-title {
		width: 100%;
		display: block;
		text-align: center;
		font-size: 20px;
	}
}

@media (max-width: 1200px) {
	.section {
		margin-top: 100px;
	}
	.header {
		height: 100px;
	}
	.header__inner {
		height: 100px;
		justify-content: space-between;
	}
	.about__desc {
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 20px;
	}
	.hero {
		width: 100%;
		background-image: url('../img/mobile.bg.jpg');
		background-size: cover;
		position: relative;
	}
	.hero__title {
		text-align: center;
		width: 100%;
		font-size: 60px;
	}
	.release {
		width: 350px;
		height: 387px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 15px;
		z-index: 2;
	}
	.release__title {
		font-size: 16px;
		margin-top: 12px;
	}
	.dates-button {
		width: 20%;
		font-size: 16px;
		padding: 16px 20px;
	}
	.social {
		display: none;
	}
	.album__item {
		margin-right: 20px;
	}
	.video-bg {
		margin-top: -20px;
		width: 100%;
	}
}

@media (max-width: 576px) {
	.section {
		margin-top: 50px;
	}
	.header {
		height: 50px;
	}
	.header__inner {
		height: 50px;
		justify-content: center;
	}
	.header-nav {
		display: none;
	}
	.hero {
		width: 100%;
		background-image: url('../img/mobile.bg.jpg');
		background-size: cover;
		position: relative;
	}
	.hero__title {
		text-align: center;
		width: 100%;
		font-size: 40px;
	}
	.release {
		width: 300px;
		height: 337px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 15px;
		z-index: 2;
	}
	.release__title {
		font-size: 12px;
		margin-top: 12px;
	}
	.dates-button {
		width: 50%;
		font-size: 16px;
		padding: 16px 20px;
	}
	.social {
		display: none;
	}
	.about {
		background-image: none;
	}
	.about__inner {
		display: flex;
		flex-wrap: wrap;
	}
	.albums__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.albums-list {
		justify-content: center;
	}
	.album__item {
		margin-right: 20px;
	}
	.tour__inner {
		display: flex;
		flex-wrap: wrap;
	}
	.tour__list {
		width: 100%;
	}
	.tour__date {
		width: 25%;
		font-size: 12px;
	}
	.tour__place {
		margin-left: 15px;
		margin-right: 0;
		width: 20%;
		font-size: 12px;
	}
	.tour__location {
		width: 25%;
		margin-right: 0;
		font-size: 12px;
		margin-left: 10px;
	}	
	.button-right {
		margin: 0;
		margin-left: 10px;
	}

	.tour-btn {
		width: 100%;
		font-size: 12px;
		padding: 12px 14px;
	}

	.contact__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.contact__title {
		width: 100%;
		text-align: center;
		margin: 0;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.video-bg {
		margin-top: -20px;
		width: 100%;
	}
	.input {
		width: 100%;
	}
	.btn-form {
		width: 100%;
		margin: 0;
	}
	.about-title {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.section-title {
		width: 100%;
		display: block;
		text-align: center;
		font-size: 20px;
	}
}

@media (max-width: 1400px) {
	.section {
		margin-top: 100px;
	}
	.header {
		height: 100px;
	}
	.header__inner {
		height: 100px;
		justify-content: space-between;
	}
	.about__desc {
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 20px;
	}
	.hero {
		width: 100%;
		background-image: url('../img/mobile.bg.jpg');
		background-size: cover;
		position: relative;
	}
	.hero__title {
		text-align: center;
		width: 100%;
		font-size: 60px;
	}
	.release {
		width: 350px;
		height: 387px;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		backdrop-filter: blur(6px);
		padding: 15px;
		z-index: 2;
	}
	.release__title {
		font-size: 16px;
		margin-top: 12px;
	}
	.dates-button {
		width: 20%;
		font-size: 16px;
		padding: 16px 20px;
	}
	.social {
		display: none;
	}
	.album__item {
		margin-right: 20px;
	}
	.video-bg {
		margin-top: -20px;
		width: 100%;
	}
}